# See http://help.github.com/ignore-files/ for more about ignoring files.

# vscode setting
.vscode

# dependencies
node_modules

# testing
test

# production
build
build_webpack

# misc
.DS_Store
.env
npm-debug.log
.truffle-solidity-loader

# api_key
api_key.js

# firebase
.firebase