.admin-userdata {
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    padding-bottom: 20px;
    
    .admin-userdata-segment {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 300px;

        td, th {
            max-width: 120px;
            padding: 5px 0;
        }
    }
}

.admin-stage-list {
    height: 40px;
    display: flex;
    margin: 20px 10px;

    .admin-stage-item {
        width: 40px;
        height: 40px;
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 5px;
        cursor: default;

    }
}

.admin-gamedata-segment {
    float: left;
    width: 360px;
    margin-right: 20px;
    border: 1px solid lightgray;

    .row {
        margin: 0;
    }

    .admin-gamedata-segment-title {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
    }
}