.home-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../images/home_banner_venus.png) no-repeat #62605d;
    background-size: cover;
    margin: 0;

    .home-banner-title {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 20%;

        @media screen and (max-width: 768px){
            transform: translateX(-50%);
            top: 40%;
            left: 50%;
        }

        .home-banner-title-text {
            color: goldenrod;
            font-size: 5rem;
            font-family: 'Great Vibes', cursive;
            margin-bottom: 50px;

            @media screen and (max-width: 768px){
                font-size: 2rem;
                margin-bottom: 12px;
            }
        }
        .home-banner-start {
            width: 150px;
            text-align: center;
            color: goldenrod;
            border: 1px solid goldenrod;
            font-size: 1.5rem;
            font-weight: 700;
            padding: 5px;
            transition: 0.3s;
            margin: auto;
            cursor:pointer;

            &:hover {
                color: #4e4b4a;
                background: goldenrod;
            }

            @media screen and (max-width: 768px){
                font-size: 0.8rem;
                width: 80px;
            }
        }
    }

}

.home-section {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 30px 0 40px;

    .home-section-title {
        font-size: 3rem;
        font-weight: 100;
        padding: 20px;

        @media screen and (max-width: 768px) {
            font-size: 2rem;
            padding: 10px;
        }
    }

    .home-section-text {
        font-size: 1.4rem;
        font-weight: 300;
        padding: 20px;

        @media screen and (max-width: 768px) {
            font-size: 1rem;
            padding: 10px;
        }
    }

    .home-section-team-wrapper {
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    
        .home-section-team-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2%;

            .home-section-team-avatar {
                position: relative;
                width: 200px;
                height: 200px;
                background: no-repeat center;
                border-radius: 50%;
                background-size: cover;
                transition: 0.2s;
                filter: grayscale(1);

                @media screen and (max-width: 768px) {
                    width: 100px;
                    height: 100px;
                }

                &:hover {
                    filter: grayscale(0);
                    transform: scale(1.03);
                }
            }
        }
    }
}

a {
    color: lightgray;
    &:hover {
        color: white;
    }
}