.client-wrapper {
    position: relative;
    background: black;
    overflow: hidden;

    .floating-from {
        position: absolute;
        color: white;
        transform: translateX(-50%);
        left: 50%;
    }
}