.client-wrapper {
    position: relative;
    background: black;
    overflow: hidden;

    .floating-form {
        position: absolute;
        color: white;
        transform: translateX(-50%);
        left: 50%;
    }

    .floating-preloader {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }
}